<launch>
  <arg name="can_driver_config" default="$(find can_driver)/config/damiao_diff_can_driver.yaml"/>
  <arg name="controllers_file" default="$(find can_driver)/config/damiao_diff_controllers.yaml"/>
  <arg name="robot_urdf" default="$(find car_urdf)/urdf/car_urdf.urdf"/>
  <arg name="use_robot_description" default="true"/>
  <arg name="use_robot_state_publisher" default="true"/>
  <arg name="spawn_controllers" default="true"/>
  <arg name="start_controllers" default="joint_state_controller wheel_controller"/>

  <rosparam file="$(arg can_driver_config)" command="load"/>
  <rosparam file="$(arg controllers_file)" command="load"
            if="$(eval spawn_controllers and controllers_file != '')"/>

  <param if="$(arg use_robot_description)"
         name="robot_description"
         textfile="$(arg robot_urdf)"/>

  <node name="can_driver_node"
        pkg="can_driver"
        type="can_driver_node"
        output="screen"/>

  <node if="$(arg use_robot_state_publisher)"
        name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        output="screen"/>

  <node if="$(eval spawn_controllers and start_controllers != '')"
        name="damiao_diff_controller_spawner"
        pkg="controller_manager"
        type="spawner"
        args="$(arg start_controllers)"
        output="screen"/>
</launch>
